name: Docker Build & Push

on:
  push:
    branches:
      - develop
      - main

jobs:
  build-and-push:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            tag_suffix: amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            tag_suffix: arm64
            runner: ubuntu-24.04-arm

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: seoki/myform_reform:${{ github.ref_name }}-${{ matrix.tag_suffix }}
          cache-from: type=gha,scope=${{ matrix.tag_suffix }}
          cache-to: type=gha,scope=${{ matrix.tag_suffix }},mode=max
